{% extends 'layouts/base_auth.html' %}

{% load static %} 

{% block title %}VOISKI | Forgot Password{% endblock %} 

{% block style %}
<style>
  .create-account:hover, .forgot-link:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}

{% block content %}
<div class="forgot-password-container col-12 col-md-8 col-lg-6 col-xl-5">
  <div class="d-flex justify-content-center align-items-center">
    <img
      src="{% static 'assets/images/voiski-logo.png' %}"
      alt="Voiski Logo"
      class="img-fluid mx-auto d-block mb-3"
      style="max-width: 100px; height: auto"
    />
  </div>
  <!-- Forgot Password Card -->
  <div class="card p-4 w-100 shadow border-0">
    <div class="card-body">
      <h2 class="card-title text-center fs-3 mb-3 fw-semibold">
        Forgot Password
      </h2>
      <p class="text-center text-muted mb-4">
        Enter your registered email below
      </p>

      <!-- Forgot Password Form -->
      <form method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary w-100 d-flex align-items-center justify-content-center"
        >
          Continue
        </button>
      </form>
    </div>

    <div class="card-footer bg-transparent text-center border-0 mt-2">
        <a href="{% url 'show_login' %}" class="create-account text-decoration-none"
          >Back to Login</a
        >
    </div>
  </div>
</div>
{% endblock %}
